{% extends "base.html" %}

{% block content %}
<div class="container" style="height:100%;">

    <div class="row justify-content-center align-items-center" style="height:100%;">
        <div class="col-md-8 col-10 border-primary-my py-5 bg-white">
            <div class='row mt-4'>
                <div class='col text-center h3'>Your Weather App</div>
            </div>

            <dic class='row mt-4'>
                <div class="col-auto mx-auto form-group">
                    <form id="city-form" method="GET" action="/v1/api/">
                        <label for="fname">Enter City:</label><br>
                        <input type="text" id="city" name="city"><br><br>
                        <input class='btn bg-success text-light' type="submit">
                    </form>
                </div>
            </div>
        </div>

    </div>



</div>

<script>

// JAVASCRIPT
// ==========
document.getElementById('city-form').addEventListener('submit', function(event) {
    event.preventDefault();
    const form = event.target
    const form_data = new FormData(form)
    const city = form_data.get('city')
    const url = form.getAttribute('action') + '?city=' + city
    const method = form.getAttribute('method') 
    const xhr = new XMLHttpRequest()
    const responseType = 'json'
    xhr.open(method, url) // make the request 
    xhr.setRequestHeader('HTTP_X_REQUESTED_WITH', 'XMLHttpRequest') // convetion to call setRequestHeader is after open and before send
    xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest')
    xhr.onload = function() {
        if (xhr.status === 200) {
            const r = xhr.response
            r_json = JSON.parse(r)
            console.log(r_json)
        }     
        else {
            const r = xhr.response
            console.log(r)
            alert("An error has ocurred: ", r)
        }
    }

    xhr.onerror = function() {
            alert("An error has occurred.")
    }
    
    xhr.send()
    
    
});   
</script>

{% endblock %}