{% extends "base.html" %}

{% block content %}
<div class="container" style="height:100%;">
    <nav class="container fixed-top mt-3">
    {% if user.is_authenticated %}
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <div class='row'>
                <div class='col-auto ml-auto'>
                    <button class="btn btn-dark btn-sm" type="submit">Log Out</button>
                </div>
            </div>
        </form>
    {% else %}
        <div class='row'>
            <div class='col-auto ml-auto'>
                <a class="btn btn-dark btn-sm" href='/login/'>Log In</a>
            </div>
        </div>
    {% endif %}
    </nav>
    <div class="row justify-content-center align-items-center" style="height:100%;">
        <div class="col-md-8 col-10 border-primary-my py-5 bg-white">
            <div class='row mt-4'>
                <div class='col text-center h3'>Your Weather App</div>
            </div>
            
            <div class='row mt-4'>
                <div class="col-auto mx-auto">
                    <p class='h5'>City: <span id='name'>??????</span></p>
                    <hr></hr>
                    <p><span>Current Temp: </span><span id='temperature'>??</span><span> C</span</p>
                    <p><span>Feels Like: </span><span id='feels-like'>??</span><span> C</span</p>
                    <p><span>Humidity: </span><span id='humidity'>??</span><span> %rh</span</p>
                    <p><span>Wind: </span><span id='wind'>??</span><span> km/s</span</p>
                </div>
            </div>

            <div class='row mt-4'>
                <div class="col-auto mx-auto form-group">
                    <form id="city-form" method="GET" action="/v1/api/">
                        <label for="fname">Enter City:</label><br>
                        <input type="text" id="city" name="city"><br><br>
                        <input class='btn bg-success text-light' type="submit" value="Get Weather">
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

<script>

// JAVASCRIPT
// ==========

const kelvin = -273.15
// Conver to Celcius function
const convert_to_celsius = function(str_temp) {
    temp = parseFloat(str_temp)
    temp = temp + kelvin
    return temp.toFixed(1)
}

// Weather Form Submit
document.getElementById('city-form').addEventListener('submit', function(event) {
    event.preventDefault();
    const form = event.target
    const form_data = new FormData(form)
    const city = form_data.get('city')
    const url = form.getAttribute('action') + '?city=' + city
    const method = form.getAttribute('method') 
    const xhr = new XMLHttpRequest()
    const responseType = 'json'
    xhr.open(method, url) // make the request 
    xhr.setRequestHeader('HTTP_X_REQUESTED_WITH', 'XMLHttpRequest') // convetion to call setRequestHeader is after open and before send
    xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest')
    xhr.onload = function() {
        if (xhr.status === 200) {
            const r = xhr.response
            r_json = JSON.parse(r)
            console.log(r_json)
            name = r_json['name']
            temperature = r_json['main']['temp']
            temperature = convert_to_celsius(temperature)
            feels_like = r_json['main']['feels_like']
            feels_like = convert_to_celsius(feels_like)
            humidity = r_json['main']['humidity']
            wind = r_json['wind']['speed']
            document.getElementById('name').innerHTML = name        
            document.getElementById('temperature').innerHTML = temperature
            document.getElementById('feels-like').innerHTML = feels_like
            document.getElementById('humidity').innerHTML = humidity
            document.getElementById('wind').innerHTML = wind
        } else if (xhr.status== 404) {
            alert('City Not Found!')
        } else if (xhr.status== 400) {
            alert("Please provide a city name.")
        }
    }
    xhr.send()    
});   

</script>

{% endblock %}